{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="p-5 m-5 border">
          <div class="col-lg-5 mx-auto">
           <h3 class="alert alert-dark border rounded"><b>Company Information<b></b></h3>

       <form action="">
       <p>AV Companies liquor continues to dominate the top 100 spirits brands worldwide in 2016 despite the overall slowdown and increasing prohibition.

Three local whisky brands figure within the top 10 with Officer’s Choice continuing to be the second largest spirits brand in the world, according to a July International Wine and Spirits Research (IWSR) report.</p>
    


       </form>


    </div>
    </div>
</div>

{% endblock %}